<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="${rc.contextPath}/layui/css/layui.css">
    <style>
        .layui-upload-img{width: 150px; height: 150px; margin: 0 10px 10px 0;}
    </style>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-header">设置我的资料</div>
                    <div class="layui-card-body" pad15="">

                        <div class="layui-form" lay-filter="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">我的角色</label>
                                <div class="layui-input-inline">
                                    <select name="role" lay-verify="">
                                        <option value="">请选择角色</option>
                                        <option value="1">超级管理员</option>
                                        <option value="2">普通管理员</option>
                                        <option value="3">审核员</option>
                                        <option value="4">编辑人员</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="loginname" lay-verify="loginname" value="${currentUser.loginname!''}" class="layui-input" autocomplete="off" placeholder="请输入用户名" >
                                </div>
                                <div class="layui-form-mid layui-word-aux">用于系统登陆</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">性别</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="sex" value="男" title="男"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>男</div></div>
                                    <input type="radio" name="sex" value="女" title="女" checked=""><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon"></i><div>女</div></div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">手机</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="tel" value="${currentUser.tel!''}" lay-verify="tel" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="mail" value="${currentUser.mail!''}" lay-verify="mail" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">头像</label>
                                <div class="layui-input-inline">
                                    <img src="" alt="" class="layui-upload-img" id="personalImg" class="layui-upload-img">
                                </div>
                                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                                    <button type="button" class="layui-btn layui-btn-primary" id="LAY_avatarUpload">
                                        <i class="layui-icon"></i>上传图片
                                    </button><input class="layui-upload-file" type="file" accept="undefined" name="file">
                                    <button class="layui-btn layui-btn-primary" layadmin-event="avartatPreview">查看图片</button>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="setmyinfo">确认修改</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="${rc.contextPath}/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="${rc.contextPath}/layui/layui.all.js"></script>
    <script>
        $(function () {
            //加载个人头像,freemark获取byte[]失败，改为ajax方式获取
            loadPersonalImg();
        })

        function loadPersonalImg() {
            $.ajax({
                type: "Post",
                url: "/personal/getPersonalmg",   //ajax请求地址
                success: function (data) {
                    $("#personalImg").attr("src","data:image/png;base64,"+data.fileByte);
                    $("#personalImg").attr("alt",data.fileName);
                },
                error:function (data) {
                }
            });
        }
    </script>
</body>
</html>