<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.mapper.system.MenuMapper">
  <resultMap id="BaseResultMap" type="com.learn.PoJo.system.Menu">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_pid" jdbcType="VARCHAR" property="menuPid" />
    <result column="menu_description" jdbcType="VARCHAR" property="menuDescription" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_icon" jdbcType="VARCHAR" property="menuIcon" />
    <result column="menu_flag" jdbcType="VARCHAR" property="menuFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_name, menu_pid, menu_description, menu_url, menu_icon, menu_flag
  </sql>
 <!--&lt;!&ndash; <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from menu
  </select>&ndash;&gt;
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from menu
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.learn.PoJo.system.Menu">
    insert into menu (id, menu_name, menu_pid,
      menu_description, menu_url, menu_icon,
      menu_flag)
    values (#{id,jdbcType=VARCHAR}, #{menuName,jdbcType=VARCHAR}, #{menuPid,jdbcType=VARCHAR},
      #{menuDescription,jdbcType=VARCHAR}, #{menuUrl,jdbcType=VARCHAR}, #{menuIcon,jdbcType=VARCHAR},
      #{menuFlag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.learn.PoJo.system.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuPid != null">
        menu_pid,
      </if>
      <if test="menuDescription != null">
        menu_description,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="menuIcon != null">
        menu_icon,
      </if>
      <if test="menuFlag != null">
        menu_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPid != null">
        #{menuPid,jdbcType=VARCHAR},
      </if>
      <if test="menuDescription != null">
        #{menuDescription,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuFlag != null">
        #{menuFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.learn.PoJo.system.Menu">
    update menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPid != null">
        menu_pid = #{menuPid,jdbcType=VARCHAR},
      </if>
      <if test="menuDescription != null">
        menu_description = #{menuDescription,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuIcon != null">
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
      <if test="menuFlag != null">
        menu_flag = #{menuFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.learn.PoJo.system.Menu">
    update menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_pid = #{menuPid,jdbcType=VARCHAR},
      menu_description = #{menuDescription,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_icon = #{menuIcon,jdbcType=VARCHAR},
      menu_flag = #{menuFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>-->
</mapper>