<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>login</title>
    <link rel="stylesheet" href="${rc.contextPath}/layui/css/layui.css">
</head>
<body class="layui-layout-body">
    这是登陆页面


    <script src="${rc.contextPath}/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="${rc.contextPath}/layui/layui.all.js"></script>
    <script src="${rc.contextPath}/common/index.js"></script>
    <script src="${rc.contextPath}/common/websocket.js"></script>
    <script>
    </script>
</body>
</html>