<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>角色管理</title>
    <#include "/importFile.html"/>
</head>
<body>
<table id="articleTable" lay-filter="test"></table>
<!--头部按钮-->
<script type="text/html" id="roleToolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addRole">增加</button>
    </div>
</script>
<!--操作栏-->
<script type="text/html" id="operateBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script type="text/javascript" th:inline="none">//不加th:inline="none"，页面会报错，吧[[]]认成自定义的
$(function () {
    //初始化table列表
    var cols = [[ //表头
        {type: 'checkbox', fixed: 'left'}
        ,{field: 'roleName',title: '角色名称'}
        ,{field: 'roleDescription', title: '角色描述'}
        ,{field: 'roleTypeName', title: '启用状态'}
        ,{fixed: 'right', title:'操作', toolbar: '#operateBar', width:150} //操作栏
    ]];
    ptable.createTable("#articleTable",'${rc.contextPath}/role/getRoleList','#roleToolbar','角色',cols);
    //头工具栏事件
    ptable.table.on('toolbar(test)', function(obj){
        var checkStatus = ptable.table.checkStatus(obj.config.id);
        switch(obj.event){
            case 'addRole':
                addRole();
                break;
            case 'delRole':
                delRole();
                break;
        };
    });
    //监听行工具事件
    ptable.table.on('tool(test)', function(obj){
        var data = obj.data;
        if(obj.event === 'del'){
            layer.confirm('真的删除该角色吗？', function(index){
                deleteRole(obj);
                layer.close(index);
            });
        } else if(obj.event === 'edit'){
            editRole(obj);
        }
    });
})
//添加事件
function addRole(){
    openLayer("增加角色","${rc.contextPath}/role/addRolePage","700","500");
}
//修改事件
function editRole(obj){
    debugger
    openLayer("编辑角色","${rc.contextPath}/role/editRolePage?roleId="+obj.data.roleId,"700","500");
}
//删除事件
function deleteRole(obj){
    $.post("${rc.contextPath}/role/deleteRole",{roleId:obj.data.roleId},function(data){
        if(data.success){
            obj.del();
            layer.msg(data.msg);
        }else{
            layer.msg(data.msg);
        }
    },"json");
}
</script>
</body>
</html>